@charset "utf-8";
/* CSS Document */
/* The One v1.1 || ex-nihilo || April - May 2013 */

/* news ticker */
@import url('../jquery-ticker/jquery-ticker.css');
/* contact form */
@import url('../contact-form/contact-panel.css');
@import url('../contact-form/contact-form.css');
/* supersized */
@import url('../theme/supersized.shutter.css');
/* prettyPhoto */
@import url('../prettyPhoto/prettyPhoto.css');
/* google maps */
@import url('../gmaps/gmaps.css');

/*
	0.  reset
	1.  body
		1.1		pattern
		1.2		left shadow
		1.3		right shadow
		1.4		bottom shadow
	2.  header
		2.1		site name
		2.2		social links
	3.  contents
		3.1		jCarousel
		3.2		rollover
		3.3		smartTab
		3.4     social media team
		3.5     events date
    4.  footer
		4.1     menu
		4.2     menu right
	5.  twitter ticker
	6.  newsletter
	7.  copyright
    8.  extras
	9.  credits
	10. fonts
	11. supersized
*/

/* 0. reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

p {
	font-size: 15px;
}

p + p { margin-top: 1em; }

/* 1. body */
* {
margin: 0;
padding: 0;
outline: none;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000;
background: #a81c1b;
margin: 0;
padding: 0;
overflow: hidden;
}

a {
color: #a81c1b;
text-decoration: none;
outline: none;
}

a:hover {
color: #555;
}

ul {
list-style: none;
margin: 0;
}

h1 {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
color: #a81c1b;
padding: 0 0 10px 0;
}

h2 {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
color: #a81c1b;
padding: 0 0 10px 0;
}

h3 {
font-family: 'BebasNeueRegular';
font-size: 17px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
color: #000;
padding-top: 5px;
}

/* 1.1 pattern */
#pattern {
position: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background: url(../images/pattern.png) repeat left top;
z-index: 1;
}

/* 1.2 left shadow */
#left-shadow {
width: 30px;
height: 100%;
position: absolute;
left: 0;
top: 0;
background: url(../images/left-shadow.png) repeat-y;
overflow: hidden;
}

/* 1.3 right shadow */
#right-shadow {
width: 30px;
height: 100%;
position: absolute;
right: 0;
top: 0;
background: url(../images/right-shadow.png) repeat-y;
overflow: hidden;
}

/* 1.4 bottom shadow */
.bottom-shadow {
position: fixed;
width: 100%;
height: 30px;
overflow: hidden;
left: 0;
bottom: 95px;
background: url(../images/bottom-shadow.png) repeat-x;
}

/* 2. header */
#header {
background: #000;
color: #fff;
width: 100%;
height: 110px;
overflow: hidden;
margin: 0;
padding: 0;
position: fixed;
left: 0;
top: 0;
z-index: 2;
}

/* 2.1 site name */
.site-name {
font-family: 'BebasNeueRegular';
font-size: 45px;
line-height: 45px;
font-style: normal;
font-weight: normal;
padding: 0;
margin: 22px 0 0 0;
color: #fff;
text-align: center;
}

.site-name a {
color: #fff;
}

.site-name a:hover {
color: #fff;
}

/* 2.2 social links */
#social-icons {
position: absolute;
width: auto;
height: 25px;
top: 8px;
left: 8px;
background: none;
}

#social-links {
height: 25px;
background-position: 0 -50px;
}

#social-links a img {
height: 25px;
background: url(../images/social-links.png);
outline: none;
}
 
#social-links a img.social-link-twitter { width: 60px; background-position: 0 -50px; }
#social-links a img.social-link-youtube { width: 65px; background-position: -60px -50px; }
#social-links a img.social-link-facebook { width: 70px; background-position: -120px -50px; }
#social-links a img.social-link-linkedin { width: 75px; background-position: -190px -50px; }
#social-links a img.social-link-twitter:hover { width: 60px; background-position: 0 -75px; }
#social-links a img.social-link-youtube:hover { width: 65px; background-position: -60px -75px; }
#social-links a img.social-link-facebook:hover { width: 70px; background-position: -120px -75px; }
#social-links a img.social-link-linkedin:hover { width: 75px; background-position: -190px -75px; }

/* 3. contents */
.slide {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000;
width: 100%;
height: 50%;
overflow: hidden;
background: #fff;
position: absolute;
bottom: 95px;
left: 0;
display: none;
z-index: 998;
}

.slide-large {
font-family: 'BebasNeueRegular';
font-size: 14px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #000;
width: 100%;
height: 73%;
overflow: hidden;
background: #fff;
position: absolute;
bottom: 95px;
left: 0;
display: none;
z-index: 998;
}

.slide-large .profile {
width: 95%;
margin: 25px auto;
}

.slide-large .vcard {
float: left;
max-width: 15%;
}

.slide-large .services {
	width:70%;
	margin: auto;
}
.slide-large .service-group {
width: 44%;
float: left;
margin-left: 50px; 
}


.slide-large .service-category {
font-size: 30px;
}

.slide-large ul li .service {
font-size: 18px;
line-height:20px;
color: #000;
} 

.slide-large .service-group .last{
margin-top: 40px;
}

.slide-large ul li .service-price {

font-size: 18px;
float:right;
}

.wrapper {
width: 100%;
margin: 35px;
background: #fff;
}

span.close {
width: 15px;
height: 15px;
background: url(../images/close-wrapper.png) no-repeat;
position: absolute;
top: 8px;
right: 8px;
cursor: pointer;
}

span.close:hover {
background-position: 0 -15px;
}

/* 3.1 jCarousel */
.wrapper-full {
width: 100%;

margin-left:auto;
margin-right:auto;
}

.container-full {
width: 100%;
margin: 0 auto;
padding: 20px;
}

.post-left-top {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #555;
position: relative;
margin-right: 5%;
float: left;
}

.post-left-top {
width: 25%;
}

.post-left-bottom {
position: relative;
margin-right: 6%;
float: left;
}

.post-left-bottom {
width: 64%;
}

.last {
margin-right: 0 !important;
clear: right;
}

.last p {
padding: 0 0 10px 0;
}

.profile-wrapper {
width: 100%;
margin: 35px;
background: #fff;
}

.profile-wrapper-full {
width: 100%;

margin-left:auto;
margin-right:auto;
}

.proile-container-full {
width: 100%;
margin: 0 auto;
padding: 20px;
}

.team-member-profile {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #555;
position: relative;
margin-right: 5%;
float: left;
width: 25%;
}


.team-member-profile-section {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #555;
position: relative;
margin-right: 5%;
float: left;
width: 25%;
}

.team-member-services {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
	margin-bottom: 10px;
	border: solid;
	display: block;
}

.team-member-service {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
	margin-bottom: 0 0 0 0;
	display: block;
}

.team-member-service-name {
	text-align: left;
	display: inline;
}

.team-member-service-price {
	float: right;
	display: inline;

}

.jcarousel-skin-one .jcarousel-container {
margin: 0;
padding: 0;
height: 100%;
}

.jcarousel-skin-one .jcarousel-direction-rtl {
direction: rtl;
}

.jcarousel-skin-one .jcarousel-container-horizontal {
width: 100%;
min-height: 240px;
text-align: left;
font-style: normal;
font-weight: normal;
}

.jcarousel-skin-one .jcarousel-container-horizontal .titles {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
color: #000;
display: block;
margin: 15px 0 15px 0;
}

.jcarousel-skin-one .jcarousel-container-horizontal .titles-more {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
color: #000;
display: block;
margin: 0 0 15px 0;
}

.jcarousel-skin-one .jcarousel-clip {
overflow: hidden;
}

.jcarousel-skin-one .jcarousel-clip-horizontal {
width: 100%;
min-height: 240px;
}

.jcarousel-skin-one .jcarousel-item {
width: 290px;
height: 100%;
}

.jcarousel-skin-one .jcarousel-item img {
border: none;
}

.jcarousel-skin-one .jcarousel-item img:hover {
border: none;
}

.jcarousel-skin-one .jcarousel-item-horizontal {
margin-left: 0;
margin-right: 60px;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-item-horizontal {
margin-left: 10px;
margin-right: 0;
}

.jcarousel-skin-one .jcarousel-item-placeholder {
color: #555;
}

.jcarousel-skin-one .jcarousel-next-horizontal {
position: absolute;

left: -300px;
width: 40px;
height: 40px;
cursor: pointer;
background: url(../images/horizontal-next.png) no-repeat 0 0;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-next-horizontal {
left: 5px;
right: auto;
background-image: url(../images/horizontal-previous.png);
}

.jcarousel-skin-one .jcarousel-next-horizontal:hover,
.jcarousel-skin-one .jcarousel-next-horizontal:focus {
background-position: -40px 0;
}

.jcarousel-skin-one .jcarousel-next-horizontal:active {
background-position: -80px 0;
}

.jcarousel-skin-one .jcarousel-next-disabled-horizontal,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:active {
cursor: default;
background-position: -120px 0;
}

.jcarousel-skin-one .jcarousel-prev-horizontal {
position: absolute;

left: -350px;
width: 40px;
height: 40px;
cursor: pointer;
background: transparent url(../images/horizontal-previous.png) no-repeat 0 0;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
background-image: url(../images/horizontal-next.png);
}

.jcarousel-skin-one .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-one .jcarousel-prev-horizontal:focus {
background-position: -40px 0;
}

.jcarousel-skin-one .jcarousel-prev-horizontal:active {
background-position: -80px 0;
}

.jcarousel-skin-one .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:active {
cursor: default;
background-position: -120px 0;
}

/* 3.2 rollover */
span.roll-news {
background: #000 url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
box-shadow: 0 0 5px #000;
*/
}

span.roll-team {
background: #000 url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
box-shadow: 0 0 5px #000;
*/
}

span.roll-photos {
background: #000 url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
box-shadow: 0 0 5px #000;
*/
}

span.roll-videos {
background: #000 url(../images/rollover-videos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
box-shadow: 0 0 5px #000;
*/
}

/* 3.3 smartTab */
.stContainer {
position: relative;
margin: 0;
padding: 0;
background: none;
width: auto;
}

.stContainer div {
position: relative;
margin: 0 0 0 10px;
padding: 0 10px 0 0;
width: 460px;
height: 180px;
background: none;
text-align: justify;
float: left;
background: none;
overflow: auto;
}

.stContainer p {
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}

.stContainer ul {
display: block;
list-style: none;
float: left;
position: relative;
padding: 0;
margin: 0;
width: 160px;
height: 180px; 
clear: both;
}

.stContainer ul li {
position: relative; 
margin: 0;
padding: 0;
float: left;
}

.stContainer ul li a {
font-family: 'BebasNeueRegular';
font-size: 50px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-decoration: none;
display: block;
margin: 0;
padding: 0;
line-height: 30px;
text-align: center;
width: 120px;
height: 30px;
color: #000;
outline: none;
}

.stContainer ul li a:hover {
color: #000; 
background: none;
}

.stContainer ul li a.sel {
width: 120px;
height: 30px;
color: #fff;
background: #a81c1b;
cursor: text;
}

.stContainer ul li a.dis {
color: #000;
background: #555;
cursor: text;
}

/* 3.4 social media team */
.social { list-style: none; margin: -5px 0 0 0; width: 222px; background: #fff; }
.social li { display: inline; float: left; background-repeat: no-repeat; }
.social li a { display: block; width: 32px; height: 32px; padding-right: 5px; position: relative; text-decoration: none; }
.social li a strong {
font-weight: normal;
font-style: normal;
position: absolute;
left: 37px;
top: -5px;
color: #fff;
padding: 3px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
background-color: rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.facebook { background-image: url("../images/facebook.png"); }
li.google-plus { background-image: url("../images/google-plus.png"); }
li.linkedin { background-image: url("../images/linkedin.png"); }
li.twitter { background-image: url("../images/twitter.png"); }
li.youtube { background-image: url("../images/youtube.png"); }
li.skype { background-image: url("../images/skype.png"); }

/* 3.5 events date */
.place-date {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #000;
}

.place-month {
font-family: 'BebasNeueRegular';
font-size: 35px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #555;
}

.place-year {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #000;
}

/* 4. footer */
#footer {
position: fixed;
bottom: 0; 
left: 0;
width: 100%; 
height: 95px;
background: url(../images/footer-bg.png) repeat-x;
z-index: 999;
}

/* 4.1 menu */
#menu {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
position: absolute;
left: 8px;
}

#menu a {
color: #fff;
}

#menu a:hover {
color: #000;
}

#menu ul, li {
margin: 0;
padding: 0;
}

#menu nav ul, li {
list-style: none;
margin: 0;
padding: 0;
}

.menu {
float: left;
margin: 0;
padding: 0;
}

.menu .lifting {
margin: 0 0 5px 0;
}

.menu .lifting-first {
margin: 0 0 0 0;
}

.menu li a, .menu li {
float: left;
text-transform: uppercase;
}

.menu li {
position: relative;
padding: 5px 25px 0 0;
}

.menu li a {
padding: 3px 5px;
text-decoration: none;
color: #fff;
-moz-transition: 0.2s ease-in;
-webkit-transition: 0.2s ease-in;
}

.menu li a:hover {
background: #fff;
}

.menu li ul {
display: none;
left: 0;
position: absolute;
bottom: 100%;
background: none;
}

.menu li:hover ul {
display: block;
width: auto;
}

.menu li ul a {
white-space: nowrap;
background: #000;
}

.menu li ul a:hover {
background: #a81c1b;
}

/* 4.2 menu right */
#menu-right {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
position: absolute;
right: 8px;
}

#menu-right a {
color: #a81c1b;
}

#menu-right a:hover {
color: #000;
}

#menu-right ul, li {
margin: 0;
padding: 0;
}

#menu-right nav ul, li {
list-style: none;
margin: 0;
padding: 0;
}

.menu-right {
float: left;
margin: 0;
padding: 0;
}

/*
.menu-right .lifting {
margin: 0 0 10px 0;
}

.menu-right .lifting-first {
margin: 0 0 5px 0;
}
*/

.menu-right li a, .menu-right li {
float: left;
text-transform: uppercase;
}

.menu-right li {
position: relative;
padding: 5px 0 0 25px;
}

.menu-right li a {
padding: 3px 5px;
text-decoration: none;
color: #fff;
-moz-transition: 0.2s ease-in;
-webkit-transition: 0.2s ease-in;
}

.menu-right li a:hover {
background: #fff;
}

.menu-right li ul {
display: none;
left: 0;
position: absolute;
bottom: 100%;
background: none;
}

.menu-right li:hover ul {
display: block;
width: auto;
}

.menu-right li ul a {
white-space: nowrap;
background: #000;
}

.menu-right li ul a:hover {
background: #a81c1b;
}

/* 5. twitter ticker */
.tweet, .query {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 12px;
color: #000;
position: absolute;
left: 40px;
bottom: 9px;
background: none;
width: 445px;
height: 30px;
}

.tweet_list {
list-style: none;
margin: 0;
padding: 0;
overflow-y: hidden;
background: none;
}

.tweet_list li {
overflow-y: auto;
overflow-x: hidden;
padding: 0;
list-style-type: none;
}

.tweet_list li a {
color: #555;
}

.tweet_list .tweet_even {
background: none;
}

.tweet_list .tweet_avatar {
padding-right: 0;
float: left;
}

.tweet_list .tweet_avatar img {
vertical-align: middle;
}

#ticker ul.tweet_list {
height: 30px;
overflow-y: hidden;
}

#ticker .tweet_list li {
height: 30px;
}

#tweets {
width: 445px;
height: 30px;
position: fixed;
bottom: 10px;
left: 8px;
background: none;
z-index: 999;
}

a.logo {
position: absolute;
margin: 0;
top: -10px;
display: block;
width: 30px;
height: 25px;
background: #a81c1b url(../images/twitter-icon.png) no-repeat 0 0;
text-indent: -9999em;
}

a.logo:hover {
background-color: #000;
}

.loading {
background: url(../images/twitter-loader.gif) no-repeat;
width: 24px;
height: 24px;
text-indent: -9999em;
margin: 2px 0 0 0;
padding: 0;
}

/* 6. newsletter */
#subscribewrapper {
width: 200px;
height: 23px;
background-image: url(../images/subscribebox.png);
background-repeat: no-repeat; /* important */
background-position: top right;
padding: 0 0 0 80px;
margin: 0;
position: absolute; /* important */
right: 8px;
bottom: 24px;
z-index: 999;
}

#subscribewrapper-success {
font-family: 'BebasNeueRegular';
font-size: 14px;
font-style: normal;
font-weight: normal;
width: 200px;
height: 23px;
padding: 0;
margin: 0;
position: absolute; /* important */
right: 8px;
bottom: 13px;
text-align: right;
z-index: 999;
}

.subscribewrapper-success-red {
color: #a81c1b;
}

#subscribewrapper-label {
font-family: 'BebasNeueRegular';
font-size: 14px;
font-style: normal;
font-weight: normal;
color: #000;
text-transform: uppercase;
position: absolute;
top: 5px;
left: 17px;
}
 
#subscribewrapper form {
display: inline;
}
 
#newsletter2 {
border: none; /* important */
background: none; /* important*/
position: absolute; /* important */
top: 4px;
left: 91px;
width: 112px;
height: 15px;
font-size: 11px;
color: #bcbcbc;
}

#newsletter label.error {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
text-transform: uppercase;
color: #a81c1b;
position: absolute;
text-align: right;
top: 30px;
right: 0;
}

input.subscribebox-submit {
border: none; /* important */
background: url(../images/subscribe-btn.png) 0 0 no-repeat; /* important */
position: absolute; /* important */
top: 0;
right: 0;
right: 0; /* IE6 */
width: 75px;
height: 23px;
outline: none;
overflow: hidden;
cursor: pointer;
}

#replacement {
border: none; /* important */
background: url(../images/subscribe-btn.png) 0 0 no-repeat; /* important */
position: absolute; /* important */
top: 0;
right: 0;
right: 0; /* IE6 */
width: 75px;
height: 23px;
outline: none;
overflow: hidden;
cursor: pointer;
}

/* 7. copyright */
#copyright {
font-size: 9px;
text-transform: uppercase;
position: fixed;
width: auto;
left: 8px;
bottom: 5px;
background: #fff;
z-index: 999;
}

#copyright a {
color: #000;
}

#copyright a:hover {
color: #333;
}

/* 8. extras */
#extras {
position: fixed;
background: #000;
width: 100%;
height: 100%;
margin-top: -100%;
display: none;
top: 0;
left: 0;
z-index: 99999;
}

#text-extras {
width: 100%;
background: none;
position: absolute;
left: 10%;
bottom: 15%;
font-size: 20px;
z-index: 99999;
}

#text-extras p {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #fff;
}

#text-extras a {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #a81c1b;
}

#text-extras a:hover {
color: #fff;
}

/* 9. credits */
#credits {
position: fixed;
background: #000;
width: 100%;
height: 100%;
margin-top: -100%;
display: none;
top: 0;
left: 0;
z-index: 99999;
}

#text-credits {
width: 100%;
background: none;
position: absolute;
left: 10%;
bottom: 15%;
font-size: 20px;
z-index: 99999;
}

#text-credits p {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #fff;
}

#text-credits a {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #a81c1b;
}

#text-credits a:hover {
color: #fff;
}

/* 10. fonts */
@font-face {
font-family: 'BebasNeueRegular';
src: url('../fonts/bebasneue-webfont.eot');
src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/bebasneue-webfont.woff') format('woff'),
url('../fonts/bebasneue-webfont.ttf') format('truetype'),
url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
font-style: normal;
font-weight: normal;
}

/* 11. supersized */
img { border: none; }
#supersized-loader { position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin: -30px 0 0 -30px; text-indent: -999em; background: url(../images/progress.gif) no-repeat center center; z-index: 0; }
#supersized { display: block; position: fixed; left: 0; top: 0; overflow: hidden; height: 100%; width: 100%; z-index: -999; }
#supersized img { width: auto; height: auto; position: relative; display: none; outline: none; border: none; }
#supersized.speed img { -ms-interpolation-mode: nearest-neighbor; image-rendering: -moz-crisp-edges; } /* Speed */
#supersized.quality img { -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }         /* Quality */
#supersized li { display: block; list-style: none; position: fixed; overflow: hidden; top: 0; left: 0; width: 100%; height: 100%; background: #a81c1b; z-index: -30; }
#supersized a { width: 100%; height: 100%; display: block; }
#supersized li.prevslide { z-index: -20; }
#supersized li.activeslide { z-index: -10; }
#supersized li.image-loading { background: #a81c1b url(../images/progress.gif) no-repeat center center; width: 100%; height: 100%; }
#supersized li.image-loading img { visibility: hidden; }
#supersized li.prevslide img, #supersized li.activeslide img { display: inline; }
